#header{
    width: 100%;
    height: 400px;
    background-color: cornflowerblue;
    text-align: center;
}

#text{
    line-height: 400px;
    font-size: 1500%;
    color: snow;
}

#navbar-flex{
    width: 100%;
    height: 70px;
    background-color:lightgray; 
    display: flex;
}

.navbarbtn{
    position: relative;
    padding: 15px;
    margin-left: 20px;
}

#contenitore{
    width: 100%;
    height: 1000px;
}

.flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.cerchio{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border-radius: 100%;
    display: inline-block;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.button{
    position: relative;
    width: 200px;
    justify-content: center;
    display: inline-block;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 0px;
}

#footer{
    width: 100%;
    height: 200px;
    background-color:lightgray; 
}

ul {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
    text-decoration: none;
  }
  
  ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration: none;
  }
  
  ul li a .fa {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
    text-decoration: none;
  }
  
  ul li:nth-child(1) a:hover .fa {
    color: #3b5998;
    text-decoration: none;
  }
  
  ul li:nth-child(2) a:hover .fa {
    color: #00aced;
    text-decoration: none;
  }
  
  ul li:nth-child(3) a:hover .fa {
    color: #dd4b39;
    text-decoration: none;
  }
  
  ul li:nth-child(4) a:hover .fa {
    color: #007bb6;
    text-decoration: none;
  }
  
  ul li:nth-child(5) a:hover .fa {
    color: #e4405f;
    text-decoration: none;
  }